@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #131313;
    --bg-highlighted: rgba(200,200,255,.1);
    --fg-primary: #EEEEEE;
    --fg-accent: #0CF574;
    --fg-dimmed: #696969;
    --tag: #0c8cf4;
}

@layer base {
    nav {
        @apply backdrop-blur-lg;
    }

    h2 {
        @apply tracking-wide lg:text-3xl text-xl leading-relaxed pb-4 font-bold;
    }

    h3 {
        @apply tracking-wide lg:text-2xl text-lg leading-relaxed pb-4 font-bold;
    }

    p {
        @apply tracking-wide lg:text-xl text-base leading-relaxed pb-4;
    }

    p > a:not(.reference), em > a:not(.reference) {
        @apply underline decoration-fg-accent transition-colors break-words;
    }

    p > a:not(.reference):hover, em > a:hover {
        @apply text-fg-accent;
    }

    p > img {
        @apply block mx-[auto] py-4;
    }

    pre {
        @apply tracking-wide lg:text-xl text-base px-5 py-3 mt-5 mb-7 leading-relaxed rounded-xl overflow-x-auto;
    }
}

.highlighted {
    @apply inline-block w-full bg-bg-highlighted;
}

.card:hover ~ a > .card-read-more {
    @apply text-fg-accent;
}
