@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0d1b2a;
  --bg-secondary: #1b263b;
  --bg-accent: #ee6c4d;
  --fg-primary: #e0e1dd;
  --fg-secondary: #e0e1dd;
  --fg-accent: #17a398;
}
