@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #131313;
  --fg-primary: #EEEEEE;
  --fg-accent: #0CF574;
  --fg-dimmed: #696969;
}

nav {
    backdrop-filter: blur(20px);
}

.card:hover > .card-read-more {
    color: var(--fg-accent);
}
