---
import Layout from '@/layouts/Layout.astro';
import BlogPostCard from '@/components/BlogPostCard.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
---

<Layout>
    <h1>Posts</h1>
    <div>
        {posts.map(post => (
        <BlogPostCard
            title={post.data.title}
            description={post.data.description}
            date={post.data.date.toString()}
            slug={post.slug}
        />
        ))}
    </div>
</Layout>
