---
import MainLayout from "@/layouts/MainLayout.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
    (i: CollectionEntry<"blog">, j: CollectionEntry<"blog">) =>
        j.data.date.valueOf() - i.data.date.valueOf(),
);
---

<MainLayout>
    <div class="flex flex-col flex-nowrap items-center">
        <div
            class="w-[33vw] text-4xl font-bold pb-8 underline decoration-fg-accent"
        >
            Posts
        </div>
        {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
</MainLayout>
