---
import type { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const formattedDate = post.data.date.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
});
---

<div class="w-[33vw] pb-8">
    <a href={`/blog/${post.slug}`} class="card no-underline text-inherit">
        <div class="text-base text-fg-dimmed">{formattedDate}</div>
        <div class="text-xl font-bold py-1.5 underline decoration-fg-accent">
            {post.data.title}
        </div>
        <div class="text-lg py-1.5 transition-colors">
            {post.data.description}
        </div>
        <div
            class="card-read-more text-base font-bold transition-colors py-1.5"
        >
            Read more <span class="material-symbols-outlined align-middle">read_more</span>
        </div>
    </a>
</div>
