---
interface Props {
    title: string;
    description: string;
    date: string;
    slug: string;
}

const { title, description, date, slug } = Astro.props;
---

<div class="w-[33vw] pb-8">
    <a href={`/blog/${slug}`} class="card no-underline text-inherit">
        <div class="text-base text-fg-dimmed">{date}</div>
        <div class="text-xl font-bold py-1.5 underline decoration-fg-accent">
            {title}
        </div>
        <div class="text-lg py-1.5 transition-colors">{description}</div>
        <div class="card-read-more text-base font-bold transition-colors py-1.5">
            Read more <span class="material-symbols-outlined align-middle">read_more</span>
        </div>
    </a>
</div>
