---

---

<footer
    class="absolute bottom-0 w-full h-14 flex justify-center items-center border-solid border-0 border-t border-zinc-800"
>
    <div class="w-2/3 m-0">
        <span class="text-fg-dimmed text-sm font-bold">© 2020-present, João Gouveia.</span>
        <a
            href="https://www.github.com/joaotgouveia"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="material-symbols-outlined align-middle float-right">rss_feed</span>
        </a>
    </div>
</footer>
