---
import Navbar from "@/components/Navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>joaotgouveia</title>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
