---
import { Image } from "astro:assets";
import githubLogo from "@/images/github-mark-white.svg";
---

<nav
    class="fixed top-0 left-0 w-full h-14 flex justify-center items-center border-solid border-0 border-b border-zinc-800"
>
    <div class="lg:w-2/3 w-11/12 m-0">
        <a href="/"><span class="lg:text-xl text-base text-fg-primary font-bold">joaotgouveia</span></a>
        <a
            href="https://www.github.com/joaotgouveia"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Image src={githubLogo} alt="GitHub" class="lg:w-7 lg:h-7 w-5 h-5 float-right" />
        </a>
    </div>
</nav>
