---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
    author: string;
    title: string;
    description: string;
    date: string;
    tags: string[];
}>;

const { frontmatter } = Astro.props;
const date = new Date(frontmatter.date);
const formattedDate = date.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
});
---

<div class="lg:w-2/3 w-11/12">
    <div class="lg:text-xl text-base tracking-wide leading-relaxed text-fg-dimmed">
        {frontmatter.author} - {formattedDate}
    </div>
    <div class="lg:text-4xl text-2xl lg:pb-7 pb-4 tracking-wide font-bold underline decoration-fg-accent">{frontmatter.title}</div>
    <p>{frontmatter.description}</p>
    <slot />
</div>
