---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
    author: string;
    title: string;
    description: string;
    date: string;
    tags: string[];
}>;

const { frontmatter } = Astro.props;
const date = new Date(frontmatter.date);
const formattedDate = date.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
});
---

<div class="w-1/2">
    <div class="tracking-wide text-xl leading-relaxed text-fg-dimmed">
        {frontmatter.author}, {formattedDate}
    </div>
    <div class="tracking-wide text-4xl font-bold underline decoration-fg-accent pb-10">{frontmatter.title}</div>
    <slot />
</div>
